.profile{
    color: white;


    
}

.album-img{
    width: 450px;
}


.post-container{
    margin-top: 200px;
}
.cliploader{
    width: 15%;
    margin: 0 auto;
    margin-top: 175px;
  }

*,
 *:before,
 *:after{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 }
body{
background-color: #080710;
}


.post-song{
    margin: 0 auto;
    width: fit-content;
}

.li-content{
    width: auto;
    align-items: center;
    list-style: none;
    

}

.posts-container{
    padding-top:680px;
    width: fit-content;
    margin: 0 auto;
   
}

.list-group{
    width: fit-content;
    align-items: center;
    text-align: center;
    list-style: none;
    
}



.background-profile{
width: 430px;
height: 520px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 65%;
}
.background-profile .shape{
height: 200px;
width: 200px;
position: absolute;
border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
      #1845ad,
      #23a2f6
    );
    left: -80px;
    top: -80px;
    }
    .shape:last-child{
      background: linear-gradient(
        to right,
        #ff512f,
        #f09819
      );
      right: -30px;
      bottom: -80px;
      }


      .profile-form{
        height: 520px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        display: flex;
        align-items: center;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
        }
        .profile-form *{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
        }
        .profile-form h3{
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
        }      

       
         @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
        @import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
        /* entypo */
        [class*="entypo-"]:before {
          font-family: 'entypo', sans-serif;
        }
        /* fontawesome */
        [class*="fontawesome-"]:before {
          font-family: 'FontAwesome', sans-serif;
        }
        /* zocial */
        [class*="zocial-"]:before {
          font-family: 'zocial', sans-serif;
        }
        @font-face {
            font-family: 'icomoon';
            src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
            src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
                url('https://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
                url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
                url('https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        [class^="icon-"], [class*=" icon-"] {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
        
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .icon-cloudy:before {
            content: "\e60f";
        }
        .icon-sun:before {
            content: "\e610";
        }
        .icon-cloudy2:before {
            content: "\e611";
        }
        /************************************* END FONTS *************************************/
        
        * {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;  
        }
        
       
        
        .ulprofile {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
        }
        
        .h1profile {
            font-size: 23px;
        }
        
        .h2profile {
            font-size: 17px;
        }
        
        .pprofile {
            font-size: 15px;
        }
        
        .aprofile {
            text-decoration: none;
            font-size: 15px;
        }
           
        
        .h1profile, .h2profile, .pprofile, .aprofile, span{
            color: #fff;
        }
            .scnd-font-color {
                color: #9099b7;
            }
        
        .input-container {
            position: relative;
            align-items: center;
            margin: 0 auto;
        }
        	
            .input-icon {
                font-size: 22px;
                position: absolute;
                left: 31px;
                top: 10px;
            }
                .input-icon.password-icon {
                    left: 35px;
                }
        
        .horizontal-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
            .horizontal-list li {
                float: left;
            }
        
        .clear {
            clear: both;
        }
        
        .icon {
            font-size: 25px;
        }
        
        .titular {
            display: block;
            line-height: 60px;
            margin: 0;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        .button {
            display: block;
            width: 175px;
            line-height: 50px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin: 0 auto;
            border-radius: 5px;
            -webkit-transition: background .3s;
            transition: background .3s;
        }
            .button:hover {
                text-decoration: none;
            }
        
        .arrow-btn-container {
            position: relative;
        }
            .arrow-btn {
                position: absolute;
                display: block;
                width: 60px;
                height: 60px;
                -webkit-transition: background .3s;
                transition: background .3s;
            }
                .arrow-btn:hover {
                    text-decoration: none;
                }
                .arrow-btn.left {
                    border-top-left-radius: 5px;
                }
                .arrow-btn.right {
                    border-top-right-radius: 5px;
                    right: 0;
                    top: 0;
                }
                .arrow-btn .icon {
                    display: block;
                    font-size: 18px;
                    border: 2px solid #fff;
                    border-radius: 100%;
                    line-height: 17px;
                    width: 21px;
                    margin: 20px auto;
                    text-align: center;
                }
                    .arrow-btn.left .icon {
                        padding-right: 2px;
                    }
        
        .profile-picture {
            border-radius: 100%;
            overflow: hidden;
            -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box;	
        }
            .big-profile-picture {
                margin: 0 auto;		
                border: 5px solid #50597b;
                width: 150px;
                height: 150px;
            }
            .small-profile-picture {
                border: 2px solid #50597b;
                width: 40px;
                height: 40px;
            }
        
        
        /** MAIN CONTAINER **/
        
        .main-container {
            font-family: 'Ubuntu', sans-serif;
            width: 950px;
            height: 1725px;
            margin: 6em auto;
            
        }	
            /*********************************************** HEADER ***********************************************/
            header {
                height: 80px;
            }
                .header-menu {
                    font-size: 17px;
                    line-height: 80px;
                }
                    .header-menu li {
                        position: relative;
                        -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
                    }
                        .header-menu-tab {
                            padding: 0 27px;
                            display: block;
                            line-height: 74px;
                            font-size: 17px;
                            -webkit-transition: background .3s;
                            transition: background .3s;
                        }
                            .header-menu-tab:hover {
                                background: #50597b;
                                border-bottom: 4px solid #11a8ab;
                                text-decoration: none;
                            }
                            .header-menu-tab .icon {
                                padding-right: 15px;
                            }
                        .header-menu-number {
                            position: absolute;
                            line-height: 22px;
                            padding: 0 6px;
                            font-weight: 700;
                            background: #e64c65;
                            border-radius: 100%;
                            top: 15px;
                            right: 2px;
                            -webkit-transition: all .3s linear;
                            transition: all .3s linear;
                        }
                            .header-menu li:hover .header-menu-number {
                                text-decoration: none;
                                -webkit-transform: rotate(360deg);
                                transform: rotate(360deg);
        
                            }
                .profile-menu {
                    float: right;
                    height: 80px;
                    padding-right: 20px;
                }
                    .profile-menu p {
                        font-size: 17px;
                        display: inline-block;
                        line-height: 76px;
                        margin: 0;
                        padding-right: 10px;
                    }
                        .profile-menu a {
                            padding-left: 5px;
                        }
                            .profile-menu a:hover {
                                text-decoration: none;
                            }
                    .small-profile-picture {
                        display: inline-block;
                        vertical-align: middle;				
                    }
            /** CONTAINERS **/
            .container {
                float: left;
                width: 300px;
            }
                .block {
                    margin-bottom: 25px;
                    background: #394264;
                    border-radius: 5px;
                }
                /************************************************** MIDDLE CONTAINER **********************************/
                .middle-container {
                    margin: 0 25px;		
                    	
                }
                    .profile {
                        height: 410px;
                        margin: 0 auto;
                    }
                        .add-button .icon {
                            float: right;
                            line-height: 18px;
                            width: 23px;					
                           
                            border-radius: 100%;
                            font-size: 18px;
                            text-align: center;
                            margin: 10px;					
                        }
                            .add-button .icon:hover {
                                color: #e64c65;
                                border-color: #e64c65;
                            }
                        .user-name {
                            margin: 25px 0 16px;
                            text-align: center;
                        }
                        .profile-description {
                            width: 210px;
                            margin: 0 auto;
                            text-align: center;
                        }
                        .profile-options {
                            padding-top: 58px;
                        }
                            .profile-options li {
                                border-left: 1px solid #1f253d;
                            }
                                .profile-options p {
                                    margin: 0;
                                }
                                .profile-options a {
                                    display: block;					
                                    width: 99px;
                                    border-radius: 10%;
                                    line-height: 60px;
                                    text-align: center;
                                    -webkit-transition: background .3s;
                                    transition: background .3s;				
                                }
                                    .profile-options a:hover {
                                        text-decoration: none;
                                        background: #50597b;
                                    }
                                    .profile-options a:hover.comments .icon {
                                        color: #fcb150;
                                    }
                                    .profile-options a:hover.views .icon {
                                        color: #11a8ab;
                                    }
                                    .profile-options a:hover.likes .icon {
                                        color: #e64c65;
                                    }
                                    .profile-options .icon {
                                        padding-right: 10px;
                                    }
                                    .profile-options .comments {
                                        border-top: 4px solid #fcb150;
                                    }
                                    .profile-options .views {
                                        border-top: 4px solid #11a8ab;
                                    }
                                    .profile-options .likes {
                                        border-top: 4px solid #e64c65;
                                    }
                    





                                    